<div id="content">
  <h1>despam <small id="count"></span></h1>
  <textarea id="filters" readonly="readonly" onclick="select()"></textarea>
  <table class="table table-bordered table-condensed">
  {{#each u}}
  <tr>
    <td>{{{user_id}}}</td>
    <td>{{{login}}}</td>
    <td class="avatar-cell">{{{avatar}}}</td>
    <td class="buttons">
      <button data-login="{{login}}" data-filter="staff" class="btn btn-success">Staff</button>
      <button data-login="{{login}}" data-filter="good" class="btn btn-info">Good</button>
      <button data-login="{{login}}" data-filter="bad" class="btn btn-inverse">Bad</button>
      <button data-login="{{login}}" data-filter="spam" class="btn btn-danger spam">Spam</button>
    </td>
    <td class="about">{{{about}}}</td>
    <td class="website"><a href="http://{{website}}">{{{website}}}</a></td>
    <td class="name">{{{display_name}}}</td>
    <td class="email">{{{email}}}</td>
    <td>{{{location}}}</td>
    <td><a href="{{{permalink}}}">{{{permalink}}}</a></td>
    <td><a href="http://twitter.com/{{twitter}}">{{{twitter}}}</a></td>
    <td class="active">{{{last_active}}}</td>
    <td class="active">{{{registered}}}</td>
  </tr>
  {{/each}}
  </table>

</div>
