<tr>
  <td class="name">{{{display_name}}}<br/><small>{{{login}}}<br/>{{{email}}}</small></td>
  <td class="website"><a href="{{{website}}}">{{{website}}}</a></td>
  <td class="avatar">{{#if avatar}}<img src="{{{avatar}}}"/>{{/if}}</td>
  <td class="about">{{{about}}}</td>
  <td class="buttons">
      <button data-login="{{login}}" data-filter="staff" class="btn btn-success">Staff</button>
      <button data-login="{{login}}" data-filter="good" class="btn btn-info">Good</button>
      <button data-login="{{login}}" data-filter="bad" class="btn btn-inverse">Bad</button>
      <button data-login="{{login}}" data-filter="spam" class="btn btn-danger spam">Spam</button>
      {{#if _opinion}}<span>({{_opinion}})</span>{{/if}}
  </td>
</tr>
